{% extends "base.html" %}
{% block title %}Todo Kamilo: Completed Tasks{% endblock %}

{% block heading %}
<section name='usrinfo'>
  <p>Hi,{{user}}</p>
  <a href="/logout">logout</a>
</section>
{% endblock %}

{% block menue%}<a href="/current">Current Tasks></a>{% endblock %}

{% block list %}
{% for completed in tasks%}
<div class="task" id="tsk{{completed[0]}}">
  <form method="POST">
    <input type="checkbox" checked />
    <s>{{completed[1]}}</s>
  </form>

  <form method="POST" id="{{completed[0]}}">
    <input value="{{completed[0]}}" name="boxid" hidden />
    <input value="completed" name="type" hidden />
  </form>

  <div name="options">
    <button name="edit">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <button name="remove">
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </div>
</div>
{% endfor %} 
{% endblock %}